html
    scroll-behavior: smooth

body
    font-family: Raleway
    font-weight: $regular-text
    font-size: 18px
    line-height: 21px

    +screen-up(sm)
        font-size: 18px
        line-height: 21px
        text-transform: capitalize

.text-bold
    font-weight: $bold-text

.title
    font-family: Archivo Black
    font-weight: $regular-text
    font-size: 32px
    line-height: 35px

    +screen-up(md)
        margin: 0
