html
    scroll-behavior: smooth

span
    color: $text-accent

body
    font-family: Raleway, sans-serif
    font-weight: $regular-text
    font-size: 18px

    +screen-up(sm)
        font-size: 18px

.text-bold
    font-weight: $bold-text

.text-capitalize
    text-transform: capitalize

.title
    font-family: Archivo Black, sans-serif
    font-weight: $regular-text
    font-size: 32px

    +screen-up(md)
        margin: 0

.heads
    font-family: Raleway, sans-serif
    font-size: 32px
    font-weight: $regular-text

.blue-link
    color: $text-accent !important
    text-decoration: underline !important

.section-divider
    width: 40%
    margin: 100px auto
    height: 1px
    background-color: #DED5D5
