.modal-dialog
    max-width: 930px

.modal-body

    & .text-bold
        margin-bottom: 80px
        margin-left: 80px

    &__element
        margin-bottom: 31px
        margin-left: 80px

    & .row
        margin-bottom: 32px

        &:last-child
            margin-bottom: 0

    & img
        width: 100%

