<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="d-flex justify-content-center">
                    <a href="https://twitter.com/ryangrovesmusic/" target="_blank"
                       rel="noopener noreferrer">
                        <img src="../icons/twitter.svg" alt="Twitter Logo"
                             class="social-media-icon twitter-icon">
                    </a>
                    <a href="https://www.linkedin.com/in/ryan-groves/" target="_blank"
                       rel="noopener noreferrer">
                        <img src="../icons/linkedin.svg" alt="LinkedIn logo"
                             class="social-media-icon">
                    </a>
                </div>
                <p>Copyright © Ryan Groves 2020</p>
            </div>
        </div>
    </div>
</footer>
