<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div>
                    <a href="">
                        <img src="../icons/twitter.svg" alt="Twitter Logo" class="social-media-icon">
                    </a>
                    <a href="">
                        <img src="../icons/linkedin.svg" alt="LinkedIn logo" class="social-media-icon">
                    </a>
                </div>
                <p>Copyright © Ryan Groves 2020</p>
            </div>
        </div>
    </div>
</footer>
