<header>
    <div class="container">
        <div class="row">
            <div
                class="col-12 col-md-10 d-flex align-items-center justify-content-center justify-content-md-start mb-4 mb-md-0">
                <img src="./icons/back-arrow.svg" alt="Back button" class="back-btn">
                <p class="title">Ryan Groves</p>
                <span class="header-delimiter">/</span>
                <p class="page-name">Publications</p>
            </div>
            <div class="col-12 col-md-2 text-center text-md-right">
                <p><a class="home-btn" href="/">Home</a></p>
            </div>
        </div>
    </div>
</header>
